<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Clash Royale</title>
    <link rel="stylesheet" type="text/css" href="Main_Island.css">

    <script src="/assets/Main_Island.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <!-- Ribbon -->
    <link rel="stylesheet" href="/assets/style.css" media="screen" type="text/css" />

  </head>

  <a href="http://dribbble.com/shots/705097-Orange-Ribbon-Logo"><div class="shot"><span>Clash</span><span>Royale</span><span>Kings</span></div></a>

  <body>
    <div class="navbar-fixed">
     <nav>
       <div class="nav-wrapper">
         <a href="#!" class="brand-logo"><p class="clashfont">CLASH ROYALE <span class="legendary">KINGS</span></p></a>
         <ul class="right hide-on-med-and-down">
           <li><a href="sass.html">Sass</a></li>
           <li><a href="badges.html">Components</a></li>
         </ul>
       </div>
     </nav>
    </div>



    <img id="image1" src="/assets/Clash_Icons/Clash_Main.jpg">

    <div id="content">

    <div class="row">
        <div class="col s3">
        <h1>Troops</h1>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
             <div class="collapsible-header"><span class="elixir">1 </span> Skeletons</div>
             <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Skeletons.jpg"><p class="card_text">"Four fast, very weak melee fighters. Swarm your enemies with this pile of bones"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"Three fast, unarmored melee attackers. Small, fast, green and mean!"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Spear Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Spear_Goblins.jpg"><p class="card_text">"Three unarmored ranged attackers. Who the heck taught these guys to throw spears!?! Who though that was a good idea?!"</p></div>
            </li>
            <li>
             <div class="collapsible-header"><span class="elixir">3 </span> Archers</div>
             <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Archers.jpg"><p class="card_text">"A pair of unarmored ranged attackers. They'll help you with ground and air unit attacks, but you're on your own with colouring your hair".</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">3 </span> Bomber</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Bomber.jpg"><p class="card_text">"Small, lightly protected skeleton that throws bombs. Deals area damage that can wipe out a swarm of enemies"</p></div>
            </li>



            <li>
              <div class="collapsible-header"><span class="elixir">3 </span> <span class="legend">Ice Wizard</span></div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"This chill caster hails from the far North. He shoots ice shards at enemies, slowing down their movement and attack speed"</p></div>
            </li>
            <li>
             <div class="collapsible-header"><span class="elixir">3 </span> Knight</div>
             <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Knight.jpg"><p class="card_text">"A tough melee fighter. The Barbarian's handsome, cultured cousin. Rumour has it that he was knighted based on the sheer awesomeness of his moustache alone"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">3 </span> Minions</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Minions.jpg"><p class="card_text">"Three fast, unarmed flying attackers. Roses are red, minions are blue, they can fly, and will crush you"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"Three fast, unarmored melee attackers. Small, fast, green and mean!"</p></div>
            </li>


            <li>
             <div class="collapsible-header"><span class="elixir">1 </span> Skeletons</div>
             <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Skeletons.jpg"><p class="card_text">"Four fast, very weak melee fighters. Swarm your enemies with this pile of bones"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"Three fast, unarmored melee attackers. Small, fast, green and mean!"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"Three fast, unarmored melee attackers. Small, fast, green and mean!"</p></div>
            </li>
            <li>
             <div class="collapsible-header"><span class="elixir">1 </span> Skeletons</div>
             <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Skeletons.jpg"><p class="card_text">"Four fast, very weak melee fighters. Swarm your enemies with this pile of bones"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"Three fast, unarmored melee attackers. Small, fast, green and mean!"</p></div>
            </li>
            <li>
              <div class="collapsible-header"><span class="elixir">2 </span> Goblins</div>
              <div class="collapsible-body"><img id="card" src="assets/Clash_Icons/Goblins.jpg"><p class="card_text">"Three fast, unarmored melee attackers. Small, fast, green and mean!"</p></div>
            </li>
          </ul>
       </div>
    </div>



    </div>

    <img id="image2" src="/assets/Clash_Icons/Clash_Main2.jpg">



  </body>
</html>
